<app-editor-home></app-editor-home>

<div class="container mt-4">
  <h2>Editar Revista</h2>
  <div *ngIf="mensaje" class="alert alert-danger">{{ mensaje }}</div>
  <form (ngSubmit)="guardarCambios()">
      <div class="mb-3">
          <label for="nombre" class="form-label">Nombre de la Revista:</label>
          <input type="text" id="nombre" class="form-control" [(ngModel)]="revistaEditable.nombre" name="nombre" readonly />
      </div>
      <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción:</label>
          <textarea id="descripcion" class="form-control" [(ngModel)]="revistaEditable.descripcion" name="descripcion"></textarea>
      </div>
      <div class="mb-3">
          <label for="categoria" class="form-label">Categoría:</label>
          <input type="text" id="categoria" class="form-control" [(ngModel)]="revistaEditable.categoria" name="categoria" />
      </div>
      <div class="mb-3 form-check">
          <input type="checkbox" id="estado_comentar" class="form-check-input" [(ngModel)]="revistaEditable.estadoComentar" name="estado_comentar" />
          <label class="form-check-label" for="estado_comentar">Estado Comentar</label>
      </div>
      <div class="mb-3 form-check">
          <input type="checkbox" id="estado_me_gusta" class="form-check-input" [(ngModel)]="revistaEditable.estadoMeGusta" name="estado_me_gusta" />
          <label class="form-check-label" for="estado_me_gusta">Estado Me Gusta</label>
      </div>
      <div class="mb-3 form-check">
          <input type="checkbox" id="estado_suscribirse" class="form-check-input" [(ngModel)]="revistaEditable.estadoSuscribirse" name="estado_suscribirse" />
          <label class="form-check-label" for="estado_suscribirse">Estado Suscribirse</label>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
<app-anuncio-individual [pathMostrado]="rutaActual"></app-anuncio-individual>